.detail-page {
    height: 100%;
    width: 100%;
    background-color: var(--background-color-70);
    display: flex;
    flex-direction: column;
}

.detail-page .detail-container {
    height: calc(100% - (var(--footer-height)*2));
    padding: 0 var(--margin-medium);
    flex-grow: 1;
}
.detail-page .detail-container .box {
    padding: var(--margin-small);
    font-size: 20px;
}
.detail-page .detail-container .subject-title {
    font-size: 24px;
}

.detail-page .detail-container .detail-content-container {
    height: calc(100% - 140px);
    overflow: scroll;
    scrollbar-width: none;
}
.detail-page .detail-container .detail-content-container::-webkit-scrollbar {
    display: none;
}
.detail-page .detail-container .navigation-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--margin-medium);
    height: calc(var(--footer-height) * 2.5)
}

.detail-page .detail-container .navigation-buttons-container .button-container {
    width: 45%;
}
.detail-page .detail-container .navigation-buttons-container .button-container .box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-decoration: none;
    font-size: 30px;
}