
/* App style */
.app {
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: var(--background-image);
    background-size: cover;
}


.content-container {
    width: 100%;
    /* max-width: 800px; */
    height: calc(100% - var(--footer-height));
    overflow: scroll;
    scrollbar-width: none; /* for firefox */
}
.content-container::-webkit-scrollbar { /* for chromium */
    display: none;
}


.footer-container {
    width: 100%;
    height: var(--footer-height);
}